
.appinput {
    border-width: 0 0 2px 0;
    text-align: center;
    width: 100px;
    background-color: transparent;
    line-height: 1.4;
    font-size: 100%;
    font-weight: 600;
    color: #666;
}

input:out-of-range {
    color: #d35d6d;
  }


.appbutton {
    -webkit-font-smoothing: antialiased;
    margin: 0 22px 0 0;
    outline: 0;
    -webkit-text-size-adjust: 100%;
    vertical-align: baseline;
    background: transparent;
    text-decoration: none;
    font-weight: 500;
    padding: .3em 1em;
    line-height: 1.7em!important;
    background-size: cover;
    background-position: 50%;
    background-repeat: no-repeat;
    border: 2px solid;
    transition: all .2s;
    position: relative;
    color: #f2f2f2;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    font-family: 'NoBH Bold',Helvetica,Arial,Lucida,sans-serif;
    font-size: 16px;
    background-color: #555555;
    border-width: 0px!important;
    border-color: #555555;
    border-radius: 5px;
    max-width: 200px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.appcheckbox {

}

.griditem {
    line-height: 1.4;
    font-size: 120%;
    font-weight: 600;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    padding: 15px 22px;
    background: #f6f6fe;
    color: #333;
}

.rightalign {
    text-align: right;
}

.centred {
    text-align: center;
}



.inputgrid {
    display: grid;
    align-items: center;
    grid-template-columns: auto auto 1fr;
}

.four-column-grid {
    grid-template-columns: 1fr auto auto 1fr;
}

.span-2 {
    grid-column-end: span 2;
}

select.appselector {
    display: inline-block;
    font-size: 100%!important;
    font-weight: 600!important;
    font-style: inherit!important;
    color: #333!important;
    line-height: 1.4!important;
    padding: 0 20px 0 0!important;
    width: auto!important;
    max-width: 100%!important;
    height: auto!important;
    box-sizing: border-box!important;
    margin: 0px!important;
    border: 0px!important;
    box-shadow: none!important;
    border-radius: 0px!important;
    -moz-appearance: none!important;
    -webkit-appearance: none!important;
    appearance: none!important;
    background-color: #f6f6fe!important;
    background-image: url(data:image/svg+xml;charset=US-ASCII,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20width%3D%22292.4%22%20height%3D%22292.4%22%3E%3Cpath%20fill%3D%22%23666666%22%20d%3D%22M287%2069.4a17.6%2017.6%200%200%200-13-5.4H18.4c-5%200-9.3%201.8-12.9%205.4A17.6%2017.6%200%200%200%200%2082.2c0%205%201.8%209.3%205.4%2012.9l128%20127.9c3.6%203.6%207.8%205.4%2012.8%205.4s9.2-1.8%2012.8-5.4L287%2095c3.5-3.5%205.4-7.8%205.4-12.8%200-5-1.9-9.2-5.5-12.8z%22%2F%3E%3C%2Fsvg%3E)!important;
    background-repeat: no-repeat,repeat!important;
    background-position: right 0 top 55%,0 0!important;
    background-size: 8px auto,100%!important;

}

.appselector option {
    background-color: transparent!important;
    font-weight: 600!important;
    border: 0!important;
}

.approw {
    padding: 15px 0;
}

.ErrorMsg {
    display: inline-block;
    color: #d35d6d;
    font-weight: 600;
}

.hidden {
    opacity: 30%;
}

#LSIapp {
    display: none;
}



body {
/*max-width: 550px;*/
margin-left: auto!important;
margin-right: auto!important;
}
